<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Domestic Insurance Specs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .card:hover {
            border: 2px solid #007bff;
            background-color: #f8f9fa;
            cursor: pointer;
        }
        .stretched-link::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
        .btn-email {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container" style="max-width: 80%">
    <div id="loadingContainer"></div>

    <div class="py-5 text-center">
        <h2>보험 상세 정보</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body text-center position-relative">
                    <h5 class="card-title" th:text="${userInsurance?.insurance?.name + ' - ' + userInsurance?.user?.username}">Insurance Name - User Name</h5>
                    <p class="card-text">이메일: <span th:text="${userInsurance?.user?.email}">Email</span></p>
                    <p class="card-text">가입일: <span th:text="${userInsurance?.registerDate}">RegisterDate</span></p>
                    <p class="card-text">시작일: <span th:text="${userInsurance?.startDate}">StartDate</span></p>
                    <p class="card-text">만료일: <span th:text="${userInsurance?.endDate}">EndDate</span></p>
                    <p class="card-text">신청일: <span th:text="${userInsurance?.applyDate}">ApplyDate</span></p>
                    <p class="card-text">신청 사유: <span th:text="${userInsurance?.reason}">Reason</span></p>
                    <p class="card-text">발생 일: <span th:text="${userInsurance?.occurrenceDate}">OccurrenceDate</span></p>
                    <p class="card-text">가입 보험료: <span th:text="${userInsurance?.registerPrice}">RegisterPrice</span></p>
                    <hr class="my-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="detail : ${userInsurance?.insurance?.coverageDetails}" th:text="${detail}">Coverage Detail</li>
                    </ul>
                    <form th:action="@{/insurance/admin/sendCompensationMail}" method="post">
                        <input type="hidden" name="userInsuranceId" th:value="${userInsurance?.id}"/>
                        <button type="submit" class="btn btn-primary btn-email">이메일 전송</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#loadingContainer').load('/fragments/loading.html', function() {
            $('.loading-container').hide();
        });

        $('form').submit(function(event) {
            event.preventDefault();
            $('.loading-container').show();

            $.ajax({
                url: $(this).attr('action'),
                method: $(this).attr('method'),
                data: $(this).serialize(),
                dataType: 'json', // JSON 응답 기대
                success: function(response) {
                    if (response.redirectUrl) {
                        window.location.href = response.redirectUrl; // 서버에서 받은 redirectUrl로 이동
                    } else {
                        $('.loading-container').hide(); // 리디렉션 URL이 없으면 로딩 화면 숨기기
                    }
                },
                error: function(jqXHR) {
                    if (jqXHR.responseJSON && jqXHR.responseJSON.errors) {
                        displayErrors(jqXHR.responseJSON.errors);
                    }
                    $('.loading-container').hide(); // AJAX 요청이 실패해도 로딩 화면 숨기기
                }
            });
        });

        function displayErrors(errors) {
            $('.field-error').html('');
            for (const [field, message] of Object.entries(errors)) {
                $('[name="' + field + '"]').closest('.mb-3').find('.field-error').html(message);
            }
        }
    });
</script>

</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>