<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer" th:fragment="footer">
  <div class = "row" style="margin-left: 5%;">
<!--    <h4 style="font-weight: bold">Travée®</h4>-->
    <img class= "col-1" src="/images/travee-logo2-bg.png" alt="Travee Logo" style="height: 60px;">
    <div class="col">
      <div class="footer-text">Travée</div>
      <div class="footer-text" th:text="#{travée.explanation.1}">"Travée"는 아치와 기둥 사이의 공간을 의미합니다. 여행자들에게 자신들의 여정을 즐길 수 있는 안전하고 보호된 공간을 제공하려 합니다.</div>
      <div class="footer-text" th:text="#{travée.explanation.2}">여러분의 여정과 새로운 모험을 안전하게 보호하는 공간이 되겠습니다.</div>
      <div class="footer-text">Contact: travee@gmail.com</div>
      <div class="footer-text">Copyrigt 2024 All ⓒ rights reserved</div>
    </div>

  </div>
</footer>