<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Travée</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container" style="max-width: 60%">
    <div class="py-5 text-center">
        <h2 th:text="#{insurance.application.management}">보험 신청 관리</h2>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th th:text="#{user.name}">이름</th>
            <th th:text="#{flight.number}">항공편명</th>
            <th th:text="#{application.type}">신청 타입</th>
            <th th:text="#{event.date}">발생일</th>
            <th th:text="#{application.date}">신청일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="insurance : ${insurances}">
            <td><a href="postView.html" th:href="@{|/board/${insurance.id}|}" th:text="${insurance.id}">ID</a></td>
            <td><a href="postView.html" th:href="@{|/board/${insurance.id}|}" th:text="#{notice}">공지사항</a></td>
            <td><a href="postView.html" th:href="@{|/board/${insurance.id}|}" th:text="${insurance.status}"></a></td>
            <td th:text="${insurance.user}"></td>
            <td th:text="${insurance.startDate}"></td>
            <td th:text="${insurance.endDate}"></td>
        </tr>
        </tbody>
    </table>
<!--    <hr class="my-4">-->
<!--    <button type="button" class="btn btn-primary pull-right" onclick="location.href='/boardList/write'">글쓰기</button>-->
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>